<main>
    <div class="card">
        <h2>
            Descubre Nuestro Mundo
        </h2>
        <p>
            Bienvenido a
            <span>
                CONSTRUMAX
            </span>
            , tu socio confiable en proyectos de construcción. Destacamos por nuestra rentabilidad, innovación y
            compromiso con la sustentabilidad.
        </p>
        <button class="button">
            Ver más
        </button>
    </div>
</main>
<section class="container ">
    <img alt="Imagen de construcción 1"  height="300"
        src="https://storage.googleapis.com/a1aa/image/SvCLNOmv0vTUt4-v-a5XaDRA8kJBzGdo5GgFTHgQq7U.jpg" width="300" />
    <img alt="Imagen de construcción 2"  height="300"
        src="https://storage.googleapis.com/a1aa/image/Ak87Z-jtI7hyaxVm3mNtDDM3XzPb0QU6QY9Q3TDmvC0.jpg" width="300" />
    <img alt="Imagen de construcción 3"  height="300"
        src="https://storage.googleapis.com/a1aa/image/oFAo1Ss19SOvfNZIF7byITroA1XOFTrIGXZHJbM0aL4.jpg" width="300" />
    <img alt="Imagen de construcción 4"  height="300"
        src="https://storage.googleapis.com/a1aa/image/l72i4lmSCJIqCElXrDsQ7jaT7d1oXnDHyDXok9e9MNM.jpg" width="300" />
</section>