@use "sass:color";
@use "sass:map";
@use "../../styles.scss" as *;

header {
  background-color: $color-gray-light;
  padding: $spacing-sm;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 $spacing-md;
  }

  h1 {
    font-size: $font-size-lg;
    font-weight: 700;
    color: $color-green-dark;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
    flex-grow: 1;
    text-align: center;
  }

  // Icono del menú (martillo)
  .header-icon {
    width: 15% !important;
    padding: 0px;
    order: 2;
    background: none;
    border: none;
    cursor: pointer;
    font-size: $font-size-lg;
    color: $color-green-dark;
    transition: transform 0.3s ease;
    outline: none;
    box-shadow: none;
    display: none; // Oculto por defecto

    &:hover {
      transform: rotate(20deg);
    }

    &.active {
      transform: rotate(0deg);
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  // Menú de navegación
  nav {
    display: flex;
    gap: $spacing-md;

    a {
      font-size: $font-size-small;
      color: $color-gray-dark;
      text-decoration: none;
      font-weight: 500;
      transition: $transition-normal;

      &:hover {
        color: $color-primary;
      }
    }

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: $color-white;
      padding: $spacing-md;
      box-shadow: $box-shadow-md;
      z-index: 1000;
      animation: slideDown 0.3s ease forwards;
    }

    &.active {
      display: flex;
    }
  }
}

// Animación de deslizamiento del menú
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(10);
  }
}
